<div class="topnav">
    <a class="active" href="index.php">Home</a>
    <a href="vehiclelist_view.php">Vehicle List</a>
    <a href="admintools_view.php">Admin Tools</a>
    <a href="signup.php">Sign up</a>
    <a href="basket_view.php">Basket</a>      
    <div class="login-container">
      <form method="post">
        <input type="text" name="user_uid" placeholder="Username" name="username">
        <input type="text" name="user_pwd" placeholder="Password" name="psw">
        <button type="submit"name="login"  value="Login">Login</button>
      </form>
    </div>
</div>